{% load static %}

<div class="container mx-auto flex items-center justify-between ">
  <a href="{% url 'home' %}">
    <img src="{% static 'icons/logo.png' %}" alt="" class="cursor-pointer w-[150px]">
  </a>
  <div class=" flex space-x-[8px] px-[16px] py-[8px] rounded-full border-[2px] border-solid border-gray-200 h-[40px] w-[650px]">
    <img src="{% static 'icons/search.svg' %}" alt="" class="pointer">
    <input type="text" class="focus:outline-none w-full bg-transparent" placeholder="Search here...">
  </div>
  
  <div class="flex space-x-[16px]">
    <a href="{% url 'products' %}" class="py-1 px-2 rounded text-center border border-[#658C4A] border-solid text-[#658C4A] text-[15px]">Products</a>
    {% if request.user.is_authenticated %}
      <a href="{% url 'orders' %}" class="py-1 px-2 rounded text-center border border-[#658C4A] border-solid text-[#658C4A] text-[15px]">My Orders</a>
      <a href="{% url 'create-product' %}" class="py-1 px-2 rounded text-center border border-[#658C4A] border-solid text-[#658C4A] text-[15px]">Create product</a>
      <p class="py-1 px-2 rounded min-w-[80px] text-center border border-[#658C4A] border-solid text-[#658C4A]">{{ request.user.first_name }} {{ request.user.last_name }}</p>
      <a href="{% url 'logout' %}" class="px-2 flex items-center rounded text-center border border-[#711324] border-solid text-[#711324] hover:text-white hover:bg-[#711324] text-[15px]">Log out</a>
    {% else %}
      <a href="{% url 'login' %}" class="p-1 rounded w-[80px] text-center border border-[#658C4A] border-solid text-[#658C4A] hover:text-white hover:bg-[#658C4A]">Sign in</a>
      <a href="{% url 'signup' %}" class="p-1 rounded w-[80px] text-center border border-[#658C4A] border-solid text-white bg-[#658C4A]">Sign up</a>
    {% endif %}
  </div>
</div>