<div class="container mx-auto flex space-x-10 py-10">
    <!-- <div class="w-1/3 bg-[#658C4A] h-[750px] rounded cursor-pointer" style="background-image: url('');"></div>
    <div class="w-1/3 bg-[#658C4A] h-[750px] rounded cursor-pointer"></div>
    <div class="w-1/3 bg-[#658C4A] h-[750px] rounded cursor-pointer"></div> -->

    <div class="w-1/3 text-center">
        <a href="{% url 'products' %}" class="w-full h-full">
            <p class="text-[30px] text-[#658C4A] mb-[25px] font-semibold">Programmalar</p>
            <div class="cursor-pointer rounded relative overflow-hidden w-full h-[600px]">
                <img src="../static/img/programm.jpg" alt="" class="object-cover w-full h-full rounded transition-transform transform hover:scale-110 duration-500">
            </div>
        </a>
    </div>
    <div class="w-1/3 text-center">
        <a href="{% url 'products' %}" class="w-full h-full">
            <p class="text-[30px] text-[#658C4A] mb-[25px] font-semibold">Güller</p>
            <div class="cursor-pointer rounded relative overflow-hidden w-full h-[600px]">
                <img src="../static/img/flowers.jpg" alt="" class="object-cover  w-full h-full rounded transition-transform transform hover:scale-110 duration-500">
            </div>
        </a>
    </div>
    <div class="w-1/3 text-center">
        <a href="{% url 'products' %}" class="w-full h-full">
            <p class="text-[30px] text-[#658C4A] mb-[25px] font-semibold">Suratlar</p>
            <div class="cursor-pointer rounded relative overflow-hidden w-full h-[600px]">
                <img src="../static/img/picture.jpg" alt="" class="object-cover  w-full h-full rounded transition-transform transform hover:scale-110 duration-500">
            </div>
        </a>
    </div>
</div>