{% extends 'base.html' %}
{% load static %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    {% include 'header/topbar.html'   %}

    <hr>

    <div class="container mx-auto flex py-10 space-x-[20px] h-screen">
        {% if products %}
            {% for product in products %}
                <div class="rounded w-[300px] max-h-[350px] bg-white shadow-lg">
                    <div class="overflow-hidden">
                        <img src="{{ product.image1.url }}" alt="" class="rounded-t w-full h-[200px] object-cover transition-transform transform hover:scale-110 duration-500">
                    </div>
                    <div class="p-[10px]">
                        <div class="text-[20px]">
                            {{ product.name }}
                        </div>
                        <div class="text-[13px] leading-tight font-thin line-clamp-3 overflow-hidden h-[50px]">
                            {{ product.description }}
                        </div>
                        <div class="flex justify-between text-center mt-[20px] items-center">
                            <div class="text-blue-500 font-semibold">
                                {{ product.price }} TMT
                            </div>
                            <a href="{% url 'product' id=product.id %}" 
                                class="border border-[#658C4A] border-solid py-[1px] rounded 
                                px-[10px] text-[#658C4A] font-normal hover:bg-[#658C4A]
                                hover:text-white"
                            >Giňişleýin</a>
                        </div>
                    </div>

                </div>
            {% endfor %}    
        {% else %}
            <img src="{% static 'img/no-data.svg' %}" alt="" class="w-screen h-[700px]">
        {% endif %}
        
    </div>
{% endblock %}